<div class="container">
  <h2>New</h2>
  <form method="POST" action="/transformersWeb">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" value="{{transformer.name}}" />
          </div>
          <div class="form-group">
            <label for="faction">Faction</label>
            <input type="text" class="form-control" name="faction" value="{{transformer.faction}}" />
          </div>
      </div>
      <div class="form-group">
        <label for="power">Power</label>
        <input type="text" class="form-control" name="power" value="{{transformer.power}}" />
      </div>
      <input type="submit" class="btn btn-success" value="save">
      </form>
  <a href="/transformers/views/transformers/listall.handlebars" class="btn btn-secondary">Back</a>
</div>