<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Transformer Details</h1><br>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <div>
        <p><strong>Name: </strong>{{transformer.name}}</p>
        <p><strong>Faction: </strong>{{transformer.faction}}</p>
        <p><strong>Power: </strong>{{transformer.power}}</p>
      </div>
    </div>
  </div>
  <a href="/" class="btn btn-secondary">Back</a>
</div>